# Stage 1 Merge and Clean data

In [1]:
# --- B∆∞·ªõc 0: Kh·ªüi t·∫°o v√† T·∫£i Th∆∞ vi·ªán ---
import pandas as pd
import numpy as np
import os # D√πng ƒë·ªÉ qu·∫£n l√Ω ƒë∆∞·ªùng d·∫´n file
from IPython.display import display

# C·∫•u h√¨nh Pandas ƒë·ªÉ hi·ªÉn th·ªã t·∫•t c·∫£ c√°c c·ªôt
pd.set_option('display.max_columns', None)
print("C√°c th∆∞ vi·ªán ƒë√£ s·∫µn s√†ng.")

C√°c th∆∞ vi·ªán ƒë√£ s·∫µn s√†ng.

In [2]:
DATA_DIR = 'data/' # ƒê·∫£m b·∫£o th∆∞ m·ª•c 'data' t·ªìn t·∫°i
print(f"B·∫Øt ƒë·∫ßu t·∫£i 9 t·ªáp d·ªØ li·ªáu t·ª´ th∆∞ m·ª•c: {DATA_DIR}")

try:
    df_orders = pd.read_csv(os.path.join(DATA_DIR, 'olist_orders_dataset.csv'))
    df_items = pd.read_csv(os.path.join(DATA_DIR, 'olist_order_items_dataset.csv'))
    df_products = pd.read_csv(os.path.join(DATA_DIR, 'olist_products_dataset.csv'))
    df_customers = pd.read_csv(os.path.join(DATA_DIR, 'olist_customers_dataset.csv'))
    df_reviews = pd.read_csv(os.path.join(DATA_DIR, 'olist_order_reviews_dataset.csv'))
    df_payments = pd.read_csv(os.path.join(DATA_DIR, 'olist_order_payments_dataset.csv'))
    df_sellers = pd.read_csv(os.path.join(DATA_DIR, 'olist_sellers_dataset.csv'))
    df_geo = pd.read_csv(os.path.join(DATA_DIR, 'olist_geolocation_dataset.csv'))
    df_translation = pd.read_csv(os.path.join(DATA_DIR, 'product_category_name_translation.csv'))

    print("‚úì T·∫£i 9 t·ªáp d·ªØ li·ªáu ch√≠nh th√†nh c√¥ng.")
    print(f"Orders: {df_orders.shape}, Items: {df_items.shape}, Payments: {df_payments.shape}, Geo: {df_geo.shape}")

except FileNotFoundError as e:
    print(f"L·ªñI: Kh√¥ng t√¨m th·∫•y t·ªáp. {e}")
    print("Vui l√≤ng ki·ªÉm tra l·∫°i ƒë∆∞·ªùng d·∫´n v√† t√™n t·ªáp trong th∆∞ m·ª•c 'data'.")
    # Tho√°t n·∫øu l·ªói ƒë·ªÉ kh√¥ng ch·∫°y ti·∫øp
    exit()

B·∫Øt ƒë·∫ßu t·∫£i 9 t·ªáp d·ªØ li·ªáu t·ª´ th∆∞ m·ª•c: data/
‚úì T·∫£i 9 t·ªáp d·ªØ li·ªáu ch√≠nh th√†nh c√¥ng.
Orders: (99441, 8), Items: (112650, 7), Payments: (103886, 5), Geo: (1000163, 5)

## B∆∞·ªõc 2: (QUAN TR·ªåNG) X·ª≠ l√Ω "B·∫´y H·ª£p nh·∫•t" üí£ - B·∫£ng `order_payments`

**V·∫•n ƒë·ªÅ:** B·∫£ng `payments` c√≥ quan h·ªá 1-Nhi·ªÅu (1 `order_id` c√≥ th·ªÉ c√≥ nhi·ªÅu h√†ng thanh to√°n, v√≠ d·ª•: 1 voucher + 1 th·∫ª t√≠n d·ª•ng). N·∫øu merge tr·ª±c ti·∫øp v·ªõi `items` (c≈©ng l√† 1-Nhi·ªÅu), d·ªØ li·ªáu s·∫Ω b·ªã nh√¢n l√™n sai l·ªách.

**Gi·∫£i ph√°p:** Ch√∫ng ta ph·∫£i **aggregate (g·ªôp)** b·∫£ng `payments` theo `order_id` *tr∆∞·ªõc khi* merge.

In [3]:
print("\n" + "="*50)
print("B∆Ø·ªöC 2: TI·ªÄN X·ª¨ L√ù B·∫¢NG 1-N (CH·ªêNG B√ôNG N·ªî D√íNG)")
print("="*50)

# ---------------------------------------------------------------------------
# X·ª≠ l√Ω B·∫£ng 'df_payments' (Quan h·ªá 1-Nhi·ªÅu)
# ---------------------------------------------------------------------------
print(f"B·∫£ng Payments ban ƒë·∫ßu (th√¥): {df_payments.shape[0]} d√≤ng")
print(f"S·ªë order_id duy nh·∫•t trong Payments: {df_payments['order_id'].nunique()} d√≤ng")
print("B·∫Øt ƒë·∫ßu g·ªôp (aggregate) b·∫£ng Payments...")

df_payments_agg = df_payments.groupby('order_id').agg(
    # --- ƒê·∫∑c tr∆∞ng T√†i ch√≠nh ---
    # T√≠nh T·ªîNG gi√° tr·ªã thanh to√°n cho ƒë∆°n h√†ng ƒë√≥
    payment_value_total=('payment_value', 'sum'),

    # T√≠nh T·ªîNG s·ªë k·ª≥ tr·∫£ g√≥p (v√≠ d·ª•: 1 l·∫ßn th·∫ª 3 k·ª≥ + 1 l·∫ßn th·∫ª 3 k·ª≥ = 6 k·ª≥)
    payment_installments_total=('payment_installments', 'sum'),

    # --- ƒê·∫∑c tr∆∞ng Ph√¢n lo·∫°i ---
    # L·∫•y lo·∫°i thanh to√°n ch√≠nh (th∆∞·ªùng l√† 'first' ho·∫∑c 'mode')
    payment_type_primary=('payment_type', 'first'),

    # ƒê·∫øm xem ƒë∆°n h√†ng n√†y ƒë∆∞·ª£c thanh to√°n b·∫±ng bao nhi√™u ph∆∞∆°ng th·ª©c/l·∫ßn
    payment_sequential_count=('payment_sequential', 'max')

).reset_index()

print(f"‚úì B·∫£ng Payments sau khi g·ªôp (Aggregated): {df_payments_agg.shape[0]} d√≤ng")
print("\nKi·ªÉm tra 5 d√≤ng ƒë·∫ßu c·ªßa b·∫£ng payments_agg:")
print(df_payments_agg.head())
print("="*50)

==================================================
B∆Ø·ªöC 2: TI·ªÄN X·ª¨ L√ù B·∫¢NG 1-N (CH·ªêNG B√ôNG N·ªî D√íNG)
==================================================
B·∫£ng Payments ban ƒë·∫ßu (th√¥): 103886 d√≤ng
S·ªë order_id duy nh·∫•t trong Payments: 99440 d√≤ng
B·∫Øt ƒë·∫ßu g·ªôp (aggregate) b·∫£ng Payments...
‚úì B·∫£ng Payments sau khi g·ªôp (Aggregated): 99440 d√≤ng

Ki·ªÉm tra 5 d√≤ng ƒë·∫ßu c·ªßa b·∫£ng payments_agg:
                           order_id  payment_value_total  \
0  00010242fe8c5a6d1ba2dd792cb16214                72.19
1  00018f77f2f0320c557190d7a144bdd3               259.83
2  000229ec398224ef6ca0657da4fc703e               216.87
3  00024acbcdf0a6daa1e931b038114c75                25.78
4  00042b26cf59d7ce69dfabb4e55b4fd9               218.04

   payment_installments_total payment_type_primary  payment_sequential_count
0                           2          credit_card                         1
1                           3          credit_card                         1
2                           5          credit_card                         1
3                           2          credit_card                         1
4                           3          credit_card                         1
==================================================

In [4]:
print("ƒêang x·ª≠ l√Ω tr√πng l·∫∑p b·∫£ng Reviews...")

# S·∫Øp x·∫øp theo ng√†y t·∫°o v√† gi·ªØ l·∫°i review cu·ªëi c√πng (m·ªõi nh·∫•t) cho m·ªói order_id
df_reviews_dedup = df_reviews.sort_values(
    'review_creation_date', ascending=False
).drop_duplicates(
    'order_id', keep='first'
).reset_index()

print(f"B·∫£ng Reviews ban ƒë·∫ßu: {df_reviews.shape[0]} d√≤ng")
print(f"B·∫£ng Reviews sau khi dedup: {df_reviews_dedup.shape[0]} d√≤ng")

# Sau ƒë√≥, ·ªü B∆∞·ªõc 3.3, b·∫°n merge v·ªõi df_reviews_dedup n√†y
# df_master = df_master.merge(df_reviews_dedup, on='order_id', how='left')

ƒêang x·ª≠ l√Ω tr√πng l·∫∑p b·∫£ng Reviews...
B·∫£ng Reviews ban ƒë·∫ßu: 99224 d√≤ng
B·∫£ng Reviews sau khi dedup: 98673 d√≤ng

In [5]:
print("\n" + "="*50)
print("B∆Ø·ªöC 2.6: TI·ªÄN X·ª¨ L√ù B·∫¢NG GEOLOCATION (AGGREGATE)")
print("="*50)
print("ƒêang g·ªôp (Aggregate) b·∫£ng 'geolocation'...")

# L·∫•y t·ªça ƒë·ªô trung b√¨nh cho m·ªói zip code
df_geo_map = df_geo.groupby('geolocation_zip_code_prefix').agg(
    geolocation_lat=('geolocation_lat', 'mean'),
    geolocation_lng=('geolocation_lng', 'mean')
).reset_index()

print(f"-> ƒê√£ g·ªôp 'geolocation' t·ª´ {len(df_geo)} h√†ng xu·ªëng {len(df_geo_map)} h√†ng (zip codes duy nh·∫•t).")
print("‚úì ƒê√£ t·∫°o 'df_geo_map' s·∫µn s√†ng ƒë·ªÉ merge.")
print("="*50)

==================================================
B∆Ø·ªöC 2.6: TI·ªÄN X·ª¨ L√ù B·∫¢NG GEOLOCATION (AGGREGATE)
==================================================
ƒêang g·ªôp (Aggregate) b·∫£ng 'geolocation'...
-> ƒê√£ g·ªôp 'geolocation' t·ª´ 1000163 h√†ng xu·ªëng 19015 h√†ng (zip codes duy nh·∫•t).
‚úì ƒê√£ t·∫°o 'df_geo_map' s·∫µn s√†ng ƒë·ªÉ merge.
==================================================

## B∆∞·ªõc 3: Th·ª±c thi Pipeline H·ª£p nh·∫•t L√µi (Core Merge Pipeline)

Ch√∫ng ta s·∫Ω x√¢y d·ª±ng B·∫£ng T·ªïng th·ªÉ (Master Table) theo S∆° ƒë·ªì (Schema) ƒë√£ v·∫Ω.
Lu·ªìng (Flow): B·∫Øt ƒë·∫ßu t·ª´ `df_orders` v√† `merge` c√°c b·∫£ng kh√°c v√†o.

In [6]:
print("\n" + "="*50)
print("B∆Ø·ªöC 3: TH·ª∞C THI PIPELINE H·ª¢P NH·∫§T L√ïI")
print("="*50)

# ---------------------------------------------------------------------------
# 3.1: Kh·ªüi t·∫°o Master Table v√† Merge "Explode" (1-N)
# ---------------------------------------------------------------------------

# B·∫Øt ƒë·∫ßu "x∆∞∆°ng s·ªëng" (backbone) t·ª´ df_orders
df_master = df_orders.copy()
print(f"Shape ban ƒë·∫ßu (Orders): {df_master.shape}")

# Merge df_items. ƒê√¢y l√† b∆∞·ªõc "l√†m n·ªï" (explode) s·ªë d√≤ng.
# M·ªói d√≤ng gi·ªù ƒë√¢y ƒë·∫°i di·ªán cho m·ªôt (order, item)
# Ch√∫ng ta d√πng 'how=left' ƒë·ªÉ gi·ªØ c√°c ƒë∆°n h√†ng (n·∫øu c√≥) m√† kh√¥ng c√≥ items
df_master = df_master.merge(df_items, on='order_id', how='left')
print(f"Shape sau khi merge df_items (exploded): {df_master.shape}")

# ---------------------------------------------------------------------------
# 3.2: Merge c√°c B·∫£ng 1-1 (t∆∞∆°ng ·ª©ng v·ªõi Item)
# ---------------------------------------------------------------------------

# Th√™m th√¥ng tin s·∫£n ph·∫©m (product)
df_master = df_master.merge(df_products, on='product_id', how='left')
print(f"Shape sau khi merge df_products: {df_master.shape}")

# Th√™m th√¥ng tin ng∆∞·ªùi b√°n (seller)
df_master = df_master.merge(df_sellers, on='seller_id', how='left')
print(f"Shape sau khi merge df_sellers: {df_master.shape}")

# Th√™m b·∫£n d·ªãch t√™n danh m·ª•c
df_master = df_master.merge(df_translation, on='product_category_name', how='left')
print(f"Shape sau khi merge df_translation: {df_master.shape}")

# ---------------------------------------------------------------------------
# 3.3: Merge c√°c B·∫£ng 1-1 (t∆∞∆°ng ·ª©ng v·ªõi Order)
# ---------------------------------------------------------------------------

# Th√™m th√¥ng tin kh√°ch h√†ng (customer)
df_master = df_master.merge(df_customers, on='customer_id', how='left')
print(f"Shape sau khi merge df_customers: {df_master.shape}")

# Th√™m th√¥ng tin thanh to√°n (ƒë√£ g·ªôp)
# S·ª≠ d·ª•ng `df_payments_agg` (ƒë√£ x·ª≠ l√Ω ·ªü B∆∞·ªõc 2)
df_master = df_master.merge(df_payments_agg, on='order_id', how='left')
print(f"Shape sau khi merge df_payments_agg: {df_master.shape}")

# Th√™m th√¥ng tin review (ƒë√£ g·ªôp/dedup)
# (Gi·∫£ s·ª≠ b·∫°n ƒë√£ t·∫°o df_reviews_dedup)
df_master = df_master.merge(df_reviews_dedup, on='order_id', how='left')
print(f"Shape sau khi merge df_reviews_dedup: {df_master.shape}")

# ---------------------------------------------------------------------------
# 3.4: Merge B·∫£ng GEO (Ph·ª©c t·∫°p, 2 l·∫ßn)
# ---------------------------------------------------------------------------
# (Gi·∫£ s·ª≠ b·∫°n ƒë√£ t·∫°o df_geo_map)

# 1. Merge t·ªça ƒë·ªô Kh√°ch h√†ng
df_master = df_master.merge(
    df_geo_map,
    left_on='customer_zip_code_prefix',
    right_on='geolocation_zip_code_prefix',
    how='left'
)
# ƒê·ªïi t√™n ngay ƒë·ªÉ tr√°nh xung ƒë·ªôt ·ªü l·∫ßn merge ti·∫øp theo
df_master = df_master.rename(columns={
    'geolocation_lat': 'customer_lat',
    'geolocation_lng': 'customer_lng'
})
# D·ªçn d·∫πp c·ªôt key
if 'geolocation_zip_code_prefix' in df_master.columns:
    df_master = df_master.drop(columns=['geolocation_zip_code_prefix'])

print(f"Shape sau khi merge Geo (Customer): {df_master.shape}")

# 2. Merge t·ªça ƒë·ªô Ng∆∞·ªùi b√°n
df_master = df_master.merge(
    df_geo_map,
    left_on='seller_zip_code_prefix',
    right_on='geolocation_zip_code_prefix',
    how='left',
    suffixes=('_customer', '_seller') # Th√™m h·∫≠u t·ªë cho c·ªôt key (n·∫øu c√≤n)
)
df_master = df_master.rename(columns={
    'geolocation_lat': 'seller_lat',
    'geolocation_lng': 'seller_lng'
})
# D·ªçn d·∫πp c√°c c·ªôt key th·ª´a
if 'geolocation_zip_code_prefix' in df_master.columns:
    df_master = df_master.drop(columns=['geolocation_zip_code_prefix'])

print(f"Shape sau khi merge Geo (Seller): {df_master.shape}")

# ---------------------------------------------------------------------------
# B∆Ø·ªöC 4: L∆ØU K·∫æT QU·∫¢ TH√î
# ---------------------------------------------------------------------------
OUTPUT_FILE = 'olist_raw_merged.csv'
try:
    df_master.to_csv(OUTPUT_FILE, index=False)
    print("\n" + "="*50)
    print(f"‚úì‚úì‚úì PIPELINE H·ª¢P NH·∫§T HO√ÄN T·∫§T ‚úì‚úì‚úì")
    print(f"Shape cu·ªëi c√πng c·ªßa Master Table: {df_master.shape}")
    print(f"ƒê√£ l∆∞u Master Table th√¥ v√†o file: {OUTPUT_FILE}")
    print("\nKi·ªÉm tra 5 d√≤ng ƒë·∫ßu ti√™n (ƒë·ªãnh d·∫°ng b·∫£ng):")

    display(df_master.head())
    # ---------------------------------

except Exception as e:
    print(f"\nL·ªñI khi l∆∞u file: {e}")

==================================================
B∆Ø·ªöC 3: TH·ª∞C THI PIPELINE H·ª¢P NH·∫§T L√ïI
==================================================
Shape ban ƒë·∫ßu (Orders): (99441, 8)
Shape sau khi merge df_items (exploded): (113425, 14)
Shape sau khi merge df_products: (113425, 22)
Shape sau khi merge df_sellers: (113425, 25)
Shape sau khi merge df_translation: (113425, 26)
Shape sau khi merge df_customers: (113425, 30)
Shape sau khi merge df_payments_agg: (113425, 34)
Shape sau khi merge df_reviews_dedup: (113425, 41)
Shape sau khi merge Geo (Customer): (113425, 43)
Shape sau khi merge Geo (Seller): (113425, 45)

==================================================
‚úì‚úì‚úì PIPELINE H·ª¢P NH·∫§T HO√ÄN T·∫§T ‚úì‚úì‚úì
Shape cu·ªëi c√πng c·ªßa Master Table: (113425, 45)
ƒê√£ l∆∞u Master Table th√¥ v√†o file: olist_raw_merged.csv

Ki·ªÉm tra 5 d√≤ng ƒë·∫ßu ti√™n (ƒë·ªãnh d·∫°ng b·∫£ng):

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_value_total,payment_installments_total,payment_type_primary,payment_sequential_count,index,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_lat,customer_lng,seller_lat,seller_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350.0,maua,SP,housewares,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,38.71,3.0,credit_card,3.0,32790.0,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"N√£o testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,-23.576983,-46.587161,-23.680729,-46.444238
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,31570.0,belo horizonte,SP,perfumery,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,141.46,1.0,boleto,1.0,29158.0,8d5266042046a06655c8db133d120ba5,4.0,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50,-12.177924,-44.660711,-19.807681,-43.980427
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,automotivo,46.0,232.0,1.0,420.0,24.0,19.0,21.0,14840.0,guariba,SP,auto,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,179.12,3.0,credit_card,1.0,4323.0,e73b67b67587f7644d5bd1a52deb1b01,5.0,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58,-16.745150,-48.514783,-21.363502,-48.229601
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20,pet_shop,59.0,468.0,3.0,450.0,30.0,10.0,20.0,31842.0,belo horizonte,MG,pet_shop,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,72.20,1.0,credit_card,1.0,77520.0,359d03e676b3c069f62cadba8dd3f6e8,5.0,NaN,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58,-5.774190,-35.271143,-19.837682,-43.924053
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72,papelaria,38.0,316.0,4.0,250.0,51.0,15.0,15.0,8752.0,mogi das cruzes,SP,stationery,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,28.62,1.0,credit_card,1.0,54136.0,e50934924e227544ba8246aeb3770dd4,5.0,NaN,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51,-23.676370,-46.514627,-23.543395,-46.262086

# Clean

In [7]:
# ki·ªÉm tra s∆° b·ªô

print("\n" + "="*50)
print("CHECK ")
print("="*50)

df_master.info()
#check(missing value)
total_rows = len(df_master)
missing_summary = df_master.isna().sum().reset_index()
missing_summary.columns = ['column', 'num_missing']
missing_summary['pct_missing'] = (missing_summary['num_missing'] * 100.0 / total_rows)

# Ch·ªâ hi·ªÉn th·ªã c√°c c·ªôt C√ì gi√° tr·ªã thi·∫øu
missing_summary = missing_summary[missing_summary['num_missing'] > 0].sort_values('pct_missing', ascending=False)

if missing_summary.empty:
    print("‚úì Kh√¥ng c√≥ c·ªôt n√†o b·ªã thi·∫øu gi√° tr·ªã.")
else:
    print(f"‚úó T√¨m th·∫•y {len(missing_summary)} c·ªôt c√≥ gi√° tr·ªã thi·∫øu:")
    display(missing_summary)
#(chcek outlier)
numeric_stats = df_master.describe()
display(numeric_stats)

==================================================
CHECK
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 45 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_approved_at              113264 non-null  object
 5   order_delivered_carrier_date   111457 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  113425 non-null  object
 8   order_item_id                  112650 non-null  float64
 9   product_id                     112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  price                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
 14  product_category_name          111047 non-null  object
 15  product_name_lenght            111047 non-null  float64
 16  product_description_lenght     111047 non-null  float64
 17  product_photos_qty             111047 non-null  float64
 18  product_weight_g               112632 non-null  float64
 19  product_length_cm              112632 non-null  float64
 20  product_height_cm              112632 non-null  float64
 21  product_width_cm               112632 non-null  float64
 22  seller_zip_code_prefix         112650 non-null  float64
 23  seller_city                    112650 non-null  object
 24  seller_state                   112650 non-null  object
 25  product_category_name_english  111023 non-null  object
 26  customer_unique_id             113425 non-null  object
 27  customer_zip_code_prefix       113425 non-null  int64
 28  customer_city                  113425 non-null  object
 29  customer_state                 113425 non-null  object
 30  payment_value_total            113422 non-null  float64
 31  payment_installments_total     113422 non-null  float64
 32  payment_type_primary           113422 non-null  object
 33  payment_sequential_count       113422 non-null  float64
 34  index                          112464 non-null  float64
 35  review_id                      112464 non-null  object
 36  review_score                   112464 non-null  float64
 37  review_comment_title           13506 non-null   object
 38  review_comment_message         47918 non-null   object
 39  review_creation_date           112464 non-null  object
 40  review_answer_timestamp        112464 non-null  object
 41  customer_lat                   113119 non-null  float64
 42  customer_lng                   113119 non-null  float64
 43  seller_lat                     112397 non-null  float64
 44  seller_lng                     112397 non-null  float64
dtypes: float64(20), int64(1), object(24)
memory usage: 38.9+ MB
‚úó T√¨m th·∫•y 36 c·ªôt c√≥ gi√° tr·ªã thi·∫øu:

                           column  num_missing  pct_missing
37           review_comment_title        99919    88.092572
38         review_comment_message        65507    57.753582
6   order_delivered_customer_date         3229     2.846815
25  product_category_name_english         2402     2.117699
14          product_category_name         2378     2.096540
16     product_description_lenght         2378     2.096540
17             product_photos_qty         2378     2.096540
15            product_name_lenght         2378     2.096540
5    order_delivered_carrier_date         1968     1.735067
43                     seller_lat         1028     0.906326
44                     seller_lng         1028     0.906326
34                          index          961     0.847256
39           review_creation_date          961     0.847256
40        review_answer_timestamp          961     0.847256
36                   review_score          961     0.847256
35                      review_id          961     0.847256
21               product_width_cm          793     0.699140
18               product_weight_g          793     0.699140
20              product_height_cm          793     0.699140
19              product_length_cm          793     0.699140
24                   seller_state          775     0.683271
8                   order_item_id          775     0.683271
22         seller_zip_code_prefix          775     0.683271
9                      product_id          775     0.683271
12                          price          775     0.683271
11            shipping_limit_date          775     0.683271
10                      seller_id          775     0.683271
13                  freight_value          775     0.683271
23                    seller_city          775     0.683271
42                   customer_lng          306     0.269782
41                   customer_lat          306     0.269782
4               order_approved_at          161     0.141944
33       payment_sequential_count            3     0.002645
30            payment_value_total            3     0.002645
31     payment_installments_total            3     0.002645
32           payment_type_primary            3     0.002645

,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,customer_zip_code_prefix,payment_value_total,payment_installments_total,payment_sequential_count,index,review_score,customer_lat,customer_lng,seller_lat,seller_lng
count,112650.000000,112650.000000,112650.000000,111047.000000,111047.000000,111047.000000,112632.000000,112632.000000,112632.000000,112632.000000,112650.000000,113425.000000,113422.000000,113422.000000,113422.000000,112464.000000,112464.000000,113119.000000,113119.000000,112397.000000,112397.000000
mean,1.197834,120.653739,19.990320,48.775978,787.867029,2.209713,2093.672047,30.153669,16.593766,22.996546,24439.170431,35102.472965,180.482857,3.067121,1.044956,49583.514058,4.017374,-21.236147,-46.203868,-22.797711,-47.235518
std,0.705124,183.633928,15.806405,10.025581,652.135608,1.721438,3751.596884,16.153449,13.443483,11.707268,27596.030909,29864.919733,273.548227,2.830879,0.386987,28660.238514,1.399652,5.567214,4.036390,2.697457,2.339961
min,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.000000,1003.000000,0.000000,0.000000,1.000000,0.000000,1.000000,-33.689948,-72.668881,-32.079231,-67.813284
25%,1.000000,39.900000,13.080000,42.000000,348.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.000000,11250.000000,65.680000,1.000000,1.000000,24765.750000,4.000000,-23.591282,-48.109940,-23.607473,-48.829744
50%,1.000000,74.990000,16.260000,52.000000,603.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13568.000000,24320.000000,114.400000,2.000000,1.000000,49539.500000,5.000000,-22.930174,-46.634236,-23.425556,-46.743468
75%,1.000000,134.900000,21.150000,57.000000,987.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,27930.000000,59020.000000,195.360000,4.000000,1.000000,74342.250000,5.000000,-20.179524,-43.644304,-21.757321,-46.518679
max,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.000000,99990.000000,13664.080000,29.000000,29.000000,99223.000000,5.000000,42.184003,-8.723762,-2.501242,-34.855616

In [8]:
# v√† ch√∫ng ta t·∫°o 'df_master_clean' ƒë·ªÉ l√†m s·∫°ch
df_master_clean = df_master.copy()

print("\n" + "="*50)
print("B·∫ÆT ƒê·∫¶U QU√Å TR√åNH L√ÄM S·∫†CH (CLEAN)")
print("="*50)

# --- 1. D·ªØ li·ªáu Ph√¢n lo·∫°i (Categorical): D√πng Gi√° tr·ªã L√≠nh canh ---

# Reasoning: 'NaN' ·ªü ƒë√¢y mang √Ω nghƒ©a nghi·ªáp v·ª• l√† "kh√¥ng c√≥ review".
# ƒêi·ªÅn 0 gi√∫p m√¥ h√¨nh ph√¢n bi·ªát ƒë∆∞·ª£c "ch∆∞a review" (0) v·ªõi "review 1 sao" (1).
# Logic n√†y l·∫•y t·ª´ notebook 'Audit and Clean.ipynb' c·ªßa b·∫°n
df_master_clean['review_score'] = df_master_clean['review_score'].fillna(0)
df_master_clean['review_id'] = df_master_clean['review_id'].fillna('no_review')
print("‚úì 1. ƒê√£ ƒëi·ªÅn 'review_score' (NaN) = 0 v√† 'review_id' (NaN) = 'no_review'.")

print("‚úì 1. ƒê√£ ƒëi·ªÅn 'review_score' (NaN) = 0.")

# Reasoning: 'NaN' l√† m·ªôt danh m·ª•c b·ªã thi·∫øu.
# ƒêi·ªÅn 'unknown' (kh√¥ng r√µ) gi√∫p m√¥ h√¨nh h·ªçc ƒë√¢y l√† 1 nh√≥m danh m·ª•c ri√™ng.
df_master_clean['product_category_name'] = df_master_clean['product_category_name'].fillna('unknown')
df_master_clean['product_category_name_english'] = df_master_clean['product_category_name_english'].fillna('unknown')
print("‚úì 2. ƒê√£ ƒëi·ªÅn 'product_category_name' (NaN) = 'unknown'.")


# --- 2. D·ªØ li·ªáu ƒê·ªãa l√Ω (Geospatial): D√πng ƒêi·ªÅn khuy·∫øt theo Nh√≥m ---

# Reasoning: ƒêi·ªÅn 0 ho·∫∑c mean (trung b√¨nh) to√†n c·ª•c l√† SAI (s·∫Ω ƒë·∫∑t v·ªã tr√≠ ra gi·ªØa bi·ªÉn).
# T·ªëi ∆∞u: D√πng groupby().transform() ƒë·ªÉ ƒëi·ªÅn NaN b·∫±ng gi√° tr·ªã trung b√¨nh
# c·ªßa ch√≠nh zip_code_prefix (v√πng) ƒë√≥. ƒê√¢y l√† k·ªπ thu·∫≠t imputation ch√≠nh x√°c nh·∫•t.
print("‚úì 3. ƒêang ƒëi·ªÅn khuy·∫øt (impute) t·ªça ƒë·ªô GEO (c√≥ th·ªÉ m·∫•t v√†i gi√¢y)...")

# ƒêi·ªÅn cho Customer (Kh√°ch h√†ng)
geo_cols_cust = ['customer_lat', 'customer_lng']
zip_group_cust = 'customer_zip_code_prefix'
for col in geo_cols_cust:
    # T√≠nh trung b√¨nh theo zip_code v√† map ng∆∞·ª£c l·∫°i
    mean_val_cust = df_master_clean.groupby(zip_group_cust)[col].transform('mean')
    df_master_clean[col] = df_master_clean[col].fillna(mean_val_cust)

# ƒêi·ªÅn cho Seller (Ng∆∞·ªùi b√°n)
geo_cols_seller = ['seller_lat', 'seller_lng']
zip_group_seller = 'seller_zip_code_prefix'
for col in geo_cols_seller:
    # T√≠nh trung b√¨nh theo zip_code v√† map ng∆∞·ª£c l·∫°i
    mean_val_seller = df_master_clean.groupby(zip_group_seller)[col].transform('mean')
    df_master_clean[col] = df_master_clean[col].fillna(mean_val_seller)

# ƒêi·ªÅn n·ªët nh·ªØng zip_code ho√†n to√†n kh√¥ng c√≥ t·ªça ƒë·ªô (n·∫øu c√≥) b·∫±ng 0
df_master_clean[geo_cols_cust + geo_cols_seller] = df_master_clean[geo_cols_cust + geo_cols_seller].fillna(0)
print("   -> ƒê√£ ƒëi·ªÅn t·ªça ƒë·ªô GEO (NaN) b·∫±ng trung b√¨nh c·ªßa zip_code (ho·∫∑c 0).")


# --- 3. D·ªØ li·ªáu Th·ªùi gian (Datetime): Kh√¥ng ƒëi·ªÅn khuy·∫øt ---

# Reasoning: Ch√∫ng ta KH√îNG ƒëi·ªÅn c√°c c·ªôt datetime (nh∆∞ order_delivered_customer_date)
# b·ªã NaT (Not a Time). N√≥ mang √Ω nghƒ©a "ch∆∞a giao h√†ng" ho·∫∑c "b·ªã h·ªßy".
# Vi·ªác x·ª≠ l√Ω s·∫Ω ƒë∆∞·ª£c th·ª±c hi·ªán ·ªü Giai ƒëo·∫°n T·∫°o ƒê·∫∑c tr∆∞ng (v√≠ d·ª•: delivery_time = -999).
print("‚úì 4. Gi·ªØ nguy√™n NaT cho c√°c c·ªôt datetime (√Ω nghƒ©a nghi·ªáp v·ª• 'ch∆∞a x·∫£y ra').")


# --- 4. D·ªØ li·ªáu S·ªë (Numeric Outliers): D√πng Logic Nghi·ªáp v·ª• ---

# Reasoning: price <= 0 l√† v√¥ l√Ω v√† s·∫Ω g√¢y l·ªói chia cho 0 khi t·∫°o 'freight_ratio'.
# T·ªëi ∆∞u: Chuy·ªÉn c√°c gi√° tr·ªã n√†y th√†nh NaN, sau ƒë√≥ ƒëi·ªÅn b·∫±ng
# trung v·ªã (median) c·ªßa 'product_category' m√† n√≥ thu·ªôc v·ªÅ.
df_master_clean.loc[df_master_clean['price'] <= 0, 'price'] = np.nan
median_price = df_master_clean.groupby('product_category_name')['price'].transform('median')
df_master_clean['price'] = df_master_clean['price'].fillna(median_price)
# ƒêi·ªÅn n·ªët n·∫øu c·∫£ category c≈©ng l√† NaN (hi·∫øm)
df_master_clean['price'] = df_master_clean['price'].fillna(df_master_clean['price'].median())
print("‚úì 5. ƒê√£ x·ª≠ l√Ω 'price' (<= 0) b·∫±ng median c·ªßa category.")

# Reasoning: freight_value < 0 l√† v√¥ l√Ω.
# T·ªëi ∆∞u: D√πng .loc ƒë·ªÉ g√°n tr·ª±c ti·∫øp = 0 (nhanh nh·∫•t).
df_master_clean.loc[df_master_clean['freight_value'] < 0, 'freight_value'] = 0
print("‚úì 6. ƒê√£ x·ª≠ l√Ω 'freight_value' (< 0) = 0.")

print("\n" + "="*50)
print("‚úì‚úì‚úì QU√Å TR√åNH L√ÄM S·∫†CH (CLEAN) HO√ÄN T·∫§T ‚úì‚úì‚úì")
print("="*50)
# ƒê√¢y l√† file "s·∫°ch", ƒë√£ merge, ƒë√£ clean,
# nh∆∞ng CH∆ØA c√≥ c√°c ƒë·∫∑c tr∆∞ng (features) nh∆∞ delivery_time_days
CLEAN_OUTPUT_FILE = 'olist_master_table_CLEAN_v1.csv'

print("\n" + "="*50)
print(f"B·∫ÆT ƒê·∫¶U L∆ØU B·∫¢NG S·∫†CH RA FILE: {CLEAN_OUTPUT_FILE}")
print("="*50)

try:
    # S·ª≠ d·ª•ng df_master_clean (bi·∫øn ƒë√£ s·∫°ch t·ª´ Ph·∫ßn 5)
    df_master_clean.to_csv(CLEAN_OUTPUT_FILE, index=False)

    print(f"‚úì‚úì‚úì TH√ÄNH C√îNG! ƒê√£ l∆∞u b·∫£ng s·∫°ch v√†o file: {CLEAN_OUTPUT_FILE}")
    print(f"Shape: {df_master_clean.shape}")
    print("\nNOTEBOOK 1 (MERGE & CLEAN) HO√ÄN T·∫§T.")

except Exception as e:
    print(f"\nL·ªñI KHI L∆ØU FILE: {e}")

==================================================
B·∫ÆT ƒê·∫¶U QU√Å TR√åNH L√ÄM S·∫†CH (CLEAN)
==================================================
‚úì 1. ƒê√£ ƒëi·ªÅn 'review_score' (NaN) = 0 v√† 'review_id' (NaN) = 'no_review'.
‚úì 1. ƒê√£ ƒëi·ªÅn 'review_score' (NaN) = 0.
‚úì 2. ƒê√£ ƒëi·ªÅn 'product_category_name' (NaN) = 'unknown'.
‚úì 3. ƒêang ƒëi·ªÅn khuy·∫øt (impute) t·ªça ƒë·ªô GEO (c√≥ th·ªÉ m·∫•t v√†i gi√¢y)...
   -> ƒê√£ ƒëi·ªÅn t·ªça ƒë·ªô GEO (NaN) b·∫±ng trung b√¨nh c·ªßa zip_code (ho·∫∑c 0).
‚úì 4. Gi·ªØ nguy√™n NaT cho c√°c c·ªôt datetime (√Ω nghƒ©a nghi·ªáp v·ª• 'ch∆∞a x·∫£y ra').
‚úì 5. ƒê√£ x·ª≠ l√Ω 'price' (<= 0) b·∫±ng median c·ªßa category.
‚úì 6. ƒê√£ x·ª≠ l√Ω 'freight_value' (< 0) = 0.

==================================================
‚úì‚úì‚úì QU√Å TR√åNH L√ÄM S·∫†CH (CLEAN) HO√ÄN T·∫§T ‚úì‚úì‚úì
==================================================

==================================================
B·∫ÆT ƒê·∫¶U L∆ØU B·∫¢NG S·∫†CH RA FILE: olist_master_table_CLEAN_v1.csv
==================================================
‚úì‚úì‚úì TH√ÄNH C√îNG! ƒê√£ l∆∞u b·∫£ng s·∫°ch v√†o file: olist_master_table_CLEAN_v1.csv
Shape: (113425, 45)

NOTEBOOK 1 (MERGE & CLEAN) HO√ÄN T·∫§T.